@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', system-ui, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFEF0;
}

* {
  box-sizing: border-box;
}
